<%= render 'shared/navbar-home' %>
<div class="container-gys mt-4">
  <div class="home-banner row">
    <div class="home-banner-left col-lg-4 col-sm-12">
      <div class="home-banner-title">
        <h1>
          <span class="home-banner-title-span"><span class="home-banner-title-animation">Discover.</span></span>
          <span class="home-banner-title-span"><span class="home-banner-title-animation">Invest.</span></span>
          <span class="home-banner-title-span"><span class="home-banner-title-animation">Become <span class="banner-highlight-primary">Rich.</span><span></span>
        </h1>
      </div>
      <form action="#" method="" class="home-banner-form">
        <input type="text" placeholder="Find your future star">
        <input type="submit" value="Go !" class="home-banner-btn-submit">
      </form>
    </div>

    <div class="home-banner-right col-8">
      <% user = User.find(2) %>
      <div class="home-banner-image cardi-b">
        <div class="home-banner-image-name opacity"><%= user.artist_name %></div>
        <div class="home-banner-image-hover">
          <span><%= user.artist_name %></span>
          <div class="home-banner-image-hover-token">
            <% project = Project.find_by(user_id: user) %>
            <span><%= project.number_of_tokens - project.number_of_transactions(project) %></span>
            <span>Tokens left</span>
          </div>
        </div>
      </div>

      <div class="home-banner-image booba">
        <% user = User.find(1) %>
        <div class="home-banner-image-name opacity"><%= user.artist_name %></div>
        <div class="home-banner-image-hover">
          <span><%= user.artist_name %></span>
          <div class="home-banner-image-hover-token">
            <% project = Project.find_by(user_id: user) %>
            <span><%= project.number_of_tokens - project.number_of_transactions(project) %></span>
            <span>Tokens left</span>
          </div>
        </div>
      </div>

      <div class="home-banner-image peggy-gou">
        <% user = User.find(4) %>
        <div class="home-banner-image-name opacity"><%= user.artist_name %></div>
        <div class="home-banner-image-hover">
          <span><%= user.artist_name %></span>
          <div class="home-banner-image-hover-token">
            <% project = Project.find_by(user_id: user) %>
            <span><%= project.number_of_tokens - project.number_of_transactions(project) %></span>
            <span>Tokens left</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="container-gys">

  <div class="home-features">
    <h2>Invest on <span>tomorrow's artists</span></h2>
    <div class="row">
      <div class="home-features-feature col-lg-4 col-md-6 col-sm-12">

        <%= image_tag("home-feature-1.svg")%>
        <h3>Discover  artists</h3>
        <p>Discover tomorrow’s artists depending on the artist’s name,
        genre or anticipated generated revenue.</p>

      </div>

      <div class="home-features-feature col-lg-4 col-md-6 col-sm-12">

        <%= image_tag("home-feature-2.svg")%>
        <h3>Invest in their projects</h3>
        <p>Take advantage of our secture platform to invest in
        an artist’s project to finance their upcoming hits,
        music videos and other costs.</p>

      </div>

      <div class="home-features-feature col-lg-4 col-md-6 col-sm-12">

        <%= image_tag("home-feature-3.svg")%>
        <h3>Become rich</h3>
        <p>Beneficiate  from a high return on investment
        on your projects.</p>

      </div>
    </div>
  </div>

</div>

<div class="container-gys text-center">
  <div class="home-trendings">
    <h2><span>Trending</span> Artists</h2>
    <div class="row trendings-cards">
      <div class="home-trending-card col-lg-4 col-md-6 col-sm-12"  id="htc-1">

        <div class="home-trending-card-infos">
          <h4>UP</h4>
          <p>Cardi B</p>
          <p>$1.000.000</p>
          <%= link_to project_path(Project.find_by(user_id: 2).id), class: "btn btn-trending-card" do %>
            <div>View More</div>
          <% end %>
          
        </div>

        <%= image_tag("up-cover.jpg")%>

      </div>

      <div class="home-trending-card col-lg-4 col-md-6 col-sm-12"  id="htc-2">

        <div class="home-trending-card-infos">
          <h4>IGNORANCE IS BLISS</h4>
          <p>Skepta</p>
          <p>$150.000</p>
          <%= link_to project_path(Project.find_by(user_id: 3).id), class: "btn btn-trending-card" do %>
            <div>View More</div>
          <% end %>
        </div>

        <%= image_tag("ignorance.jpg")%>

      </div>

      <div class="home-trending-card col-lg-4 col-md-6 col-sm-12" id="htc-3">

        <div class="home-trending-card-infos">
          <h4>GALORE</h4>
          <p>Oklou</p>
          <p>$75.000</p>
          <%= link_to project_path(Project.find_by(user_id: 6).id), class: "btn btn-trending-card" do %>
            <div>View More</div>
          <% end %>
        </div>

        <%= image_tag("galore-cover.jpg")%>

      </div>
    </div>
    <%= link_to projects_path, class: "btn btn-primary mt-4" do %>
      <div> All Artists</div>
    <% end %>
  </div>
</div>
