<div class="container-gys mt-4">
  <div class="home-banner row">
    <div class="home-banner-left col-lg-4 col-sm-12">
      <div class="home-banner-title">
        <h1>
          <span class="home-banner-title-span"><span class="home-banner-title-animation">Discover.</span></span>
          <span class="home-banner-title-span"><span class="home-banner-title-animation">Invest.</span></span>
          <span class="home-banner-title-span"><span class="home-banner-title-animation">Get <span class="banner-highlight-primary">Rich.</span><span></span>
        </h1>
      </div>
      <%= form_tag projects_path, :class=>"home-banner-form", method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        placeholder: "Invest in top artists"%>
        <%= image_submit_tag("next.png", class: "home-banner-btn-submit") %>
      <% end %>
    </div>

    <div class="home-banner-right col-8">
    <%# change artist_name to modify the whole card %>
      <% user = User.find_by(artist_name: "Cardi B") %>
      <div class="home-banner-image cardi-b">
        <div class="home-banner-image-name opacity"><%= user.artist_name %></div>
        <div class="home-banner-image-hover">
          <span><%= user.artist_name %></span>
          <div class="home-banner-image-hover-token">
            <% project = Project.find_by(user_id: user) %>
            <span><%= project.number_of_tokens - project.number_of_transactions(project) %></span>
            <span>Tokens left</span>
          </div>
        </div>
      </div>

      <div class="home-banner-image booba">
        <% user = User.find_by(artist_name: "Booba") %>
        <div class="home-banner-image-name opacity"><%= user.artist_name %></div>
        <div class="home-banner-image-hover">
          <span><%= user.artist_name %></span>
          <div class="home-banner-image-hover-token">
            <% project = Project.find_by(user_id: user) %>
            <span><%= project.number_of_tokens - project.number_of_transactions(project) %></span>
            <span>Tokens left</span>
          </div>
        </div>
      </div>

      <div class="home-banner-image peggy-gou">
        <% user = User.find_by(artist_name: "Peggy Gou") %>
        <div class="home-banner-image-name opacity"><%= user.artist_name %></div>
        <div class="home-banner-image-hover">
          <span><%= user.artist_name %></span>
          <div class="home-banner-image-hover-token">
            <% project = Project.find_by(user_id: user) %>
            <span><%= project.number_of_tokens - project.number_of_transactions(project) %></span>
            <span>Tokens left</span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="home-features">
    <h2>Invest on <span>tomorrow's artists</span></h2>
    <div class="row">
      <div class="home-features-feature col-lg-4 col-md-6 col-sm-12">

        <%= image_tag("home-feature-1.svg")%>
        <h3>Discover  artists</h3>
        <p>Discover tomorrow’s artists depending on the artist’s name,
        genre or anticipated generated revenue.</p>

      </div>

      <div class="home-features-feature col-lg-4 col-md-6 col-sm-12">

        <%= image_tag("home-feature-2.svg")%>
        <h3>Invest in their projects</h3>
        <p>Take advantage of our secture platform to invest in
        an artist’s project to finance their upcoming hits,
        music videos and other costs.</p>

      </div>

      <div class="home-features-feature col-lg-4 col-md-6 col-sm-12">

        <%= image_tag("home-feature-3.svg")%>
        <h3>Become rich</h3>
        <p>Beneficiate  from a high return on investment
        on your projects.</p>

      </div>
    </div>
  </div>


  <div class="home-trendings text-center">
    <h2><span>Trending</span> Artists</h2>
    <div class="row trendings-cards">
      <div class="home-trending-card col-lg-4 col-md-4 col-sm-12"  id="htc-1">

        <div class="home-trending-card-infos">
        <%# change artist_name to modify the whole card %>
        <% user = User.find_by(artist_name: "Cardi B") %>
        <% project = Project.find_by(user_id: user) %>
          <h4> <%= project.name.upcase %> </h4>
          <h5><%= user.artist_name %></h5>
          <%# <p>$ <%= number_with_delimiter(project.project_revenue(project).round, :delimeter => ',')  %>
          <%= link_to "View More", project_path(project), class: "btn btn-trending-card" %>

        </div>

        <%= image_tag("up-cover.jpg")%>

      </div>

      <div class="home-trending-card col-lg-4 col-md-4 col-sm-12"  id="htc-2">

        <div class="home-trending-card-infos">
        <% user = User.find_by(artist_name: "Skepta") %>
        <% project = Project.find_by(user_id: user) %>
          <h4> <%= project.name.upcase %> </h4>
          <h5><%= user.artist_name %></h5>
          <%# $ <%= number_with_delimiter(project.project_revenue(project).round, :delimeter => ',')  %>
          <%= link_to "View More", project_path(project), class: "btn btn-trending-card" %>
        </div>

        <%= image_tag("ignorance.jpg")%>

      </div>

      <div class="home-trending-card col-lg-4 col-md-4 col-sm-12" id="htc-3">

        <div class="home-trending-card-infos">
          <% user = User.find_by(artist_name: "Oklou") %>
          <% project = Project.find_by(user_id: user) %>
          <h4> <%= project.name.upcase %> </h4>
          <h5><%= user.artist_name %></h5>
          <%# <p>$ <%= number_with_delimiter(project.project_revenue(project).round, :delimeter => ',')  %>
          <%= link_to "View More", project_path(project), class: "btn btn-trending-card" %>
        </div>

        <%= image_tag("galore-cover.jpg")%>

      </div>
    </div>
      <%= link_to "Invest in top artists", projects_path, class: "btn btn-primary my-5" %>
  </div>
</div>
