<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to image_tag('https://cdn2.iconfinder.com/data/icons/music-filled-pixel-perfect/64/music-35-512.png'), root_path, class: "navbar-brand"%>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <%= link_to 'Explore', projects_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Dashboard', dashboard_path, class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown">
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown"%>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </li>
        </ul>
      <% else %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="container-gys">
  <div class="home-banner row">
    <div class="home-banner-left col-4">
      <div class="home-banner-title">
        <h1>
          <span class="home-banner-title-span"><span class="home-banner-title-animation">Discover.</span></span>
          <br>
          <span class="home-banner-title-span"><span class="home-banner-title-animation">Invest.</span></span>
          <br>
          <span class="home-banner-title-span"><span class="home-banner-title-animation">Become <span class="banner-highlight-primary">Rich</span><span>.</span>
        </h1>
      </div>
      <form action="#" method="" class="home-banner-form">
        <input type="text" placeholder="Find your future star">
        <input type="submit" value="Go !" class="home-banner-btn-submit">
      </form>
    </div>
    <div class="home-banner-right col-8">

      <div class="home-banner-image cardi-b">
        <div class="home-banner-image-name opacity">Cardi B</div>
        <div class="home-banner-image-hover">
          <span>Cardi B</span>
          <div class="home-banner-image-hover-token">
            <span>30</span>
            <span>Tokens left</span>
          </div>
        </div>
      </div>

      <div class="home-banner-image booba">
        <div class="home-banner-image-name opacity">Booba</div>
        <div class="home-banner-image-hover">
          <span>Booba</span>
          <div class="home-banner-image-hover-token">
            <span>90</span>
            <span>Tokens left</span>
          </div>
        </div>
      </div>

      <div class="home-banner-image peggy-gou">
        <div class="home-banner-image-name opacity">Peggy Gou</div>
        <div class="home-banner-image-hover">
          <span>Peggy Gou</span>
          <div class="home-banner-image-hover-token">
            <span>120</span>
            <span>Tokens left</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
