
<div class="container-gys">
  <div class="project-title">
  <h1 class="text-secondary my-3">All <span class="banner-highlight-primary">projects</span></h1>
  </div>


<div class="artist-banner text-white border border-white shadow-sm p-3 mb-5 bg-body rounded" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path User.find(2).photo.key, crop: :fit %>'); height:300px; width:949px">
        <div class="card-img-overlay">
          <h1 class="card-title"> UP </h1>
          <h5 class="card-text"> <%=  User.find(2).artist_name %> </h5>
          <p class="card-text"><i class="fas fa-donate"></i> 60 Shares left </p>
          <p class="card-text"><i class="fas fa-user-friends"></i> 1 Buyers </p>
          <%= link_to "Discover", project_path(Project.find_by(user_id: 2).id) ,  class: 'btn btn-outline-light'%>
        </div>
    </div>
<div class="row row-cols-auto">

  <% @projects.each do |project| %>
  <% token = Token.find_by(project_id: project.id) %>
  <% transaction = Transaction.where(token_id: Token.where(project_id: project.id)).count %>
  <% total_amount_invested = transaction * token.unit_price %>
  <% total_amount_available = (project.number_of_tokens) * (token.unit_price) %>
  <div class="col">
    <div class="card text-white border border-white shadow-sm p-3 mb-5 bg-body rounded" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path User.find(project.user_id).photo.key, crop: :fit, height: 320 %>'); height:220px; width:300px">
        <div class="card-img-overlay">
          <h5 class="card-title"> <%= project.name %></h5>
          <p class="card-text"> <%= project.user.artist_name  %> </p>
          <p class="card-text"><i class="fas fa-donate"></i> <%= project.number_of_tokens - transaction %> Shares left </p>
          <p class="card-text"><i class="fas fa-user-friends"></i> <%= transaction  %> Buyers </p>
          <%= link_to "Discover", project_path(project) ,  class: 'btn btn-outline-light'%>
        </div>
    </div>
  </div>
  <% end %>
</div>

  <i class="fas fa-backward text-primary sticky-bottom"></i> <%= link_to "Back to home page", root_path, class: "text-decoration-none" %>
</div>
