<div class="container-gys">
  <div class="artist-banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path @project.photo.key %>');">
    <div class="artist-banner-name">
      <h3><%= User.find(@project.user_id).artist_name.capitalize %></h3>
      <p><%= @project.name  %></p>
    </div>
    <div class="artist-banner-genre">
      <p><%= Product.find_by(project_id: @project.id).genre %></p>
    </div>
    <div class="artist-banner-token">
      <h2><%= @project.number_of_tokens %></h2>
      <p>tokens left</p>
    </div>
  </div>

  <div class="artist-project-info">
    <div class="row">
      <div class="col col-sm-6">
        <h2 class="text-secondary">Project description</span></h2>
        <p class="opacity-75"><%= @project.description %></p>
        <h2 class="text-secondary">Music player</h2>
        <p>Placeholder</p>
      </div>
      <div class="col col-sm-1">
      </div>
      <div class="col col-sm-5">
        <h2 class="text-secondary mb-3">Financial information</h2>
        <p class="text-primary m-0 border-bottom"><i class="fas fa-coins text-secondary"></i>  Project funding status</p>

        <% token = Token.find_by(project_id: @project.id) %>
        <% transaction = Transaction.where(token_id: Token.where(project_id: @project.id)).count %>
        <% total_amount_invested = transaction * token.unit_price %>
        <% total_amount_available = (@project.number_of_tokens) * (token.unit_price) %>

        <p class="text-primary fw-bold fs-3 mt-2 mb-0"><%= number_with_delimiter((total_amount_invested), :delimiter => ',') %> $</p>
        <div class="d-flex mb-0 align-items-center">
          <p class="banner-highlight-primary me-2 p-1 rounded"><%= ((total_amount_invested.to_f / total_amount_available.to_f) * 100).round %> %</p>
          <p>invested on <%= number_with_delimiter((total_amount_available), :delimiter => ',')%> $ goal</p>
        </div>
        <div class="artist-project-info-financial">
          <div class="text-center border border-secondary rounded p-3 w-25">
            <p class="m-0 text-secondary fw-bold fs-5"><%= token.unit_price%> $</p>
            <p class="m-0" style="font-size:12px">per token</p>
          </div>
          <div class="text-center border border-primary rounded p-3 ms-3 w-25">
            <p class="m-0 text-primary fw-bold fs-5"><%= @project.number_of_tokens%></p>
            <p class="m-0" style="font-size:12px">tokens total</p>
          </div>
          <div class="text-center rounded p-3 ms-3 w-25" style="border:1px solid #f9bc0b">
            <p class="m-0 fw-bold fs-5" style="color:#f9bc0b"><%= transaction %></p>
            <p class="m-0" style="font-size:12px">tokens purchased</p>
          </div>
        </div>
        <div class="artist-project-info-buy">
          <p class='btn btn-secondary mt-3 w-75'>Buy token</p>
        </div>

        <p class="text-primary mt-3 border-bottom"><i class="fas fa-hand-holding-usd text-secondary"></i> Investment distribution</p>

        <p class="text-primary mt-3 border-bottom"><i class="fas fa-chart-line text-secondary"></i> Previsional information per year</p>
        <div class="artist-project-info-financial">
          <div class="text-center border border-secondary rounded p-3 w-25">
            <p class="m-0 text-secondary fw-bold">xxx $</p>
            <p class="m-0" style="font-size:12px">estimated annual revenue</p>
          </div>
          <div class="text-center border border-primary rounded p-3 ms-3 w-25">
            <p class="m-0 text-primary fw-bold"><%= number_with_delimiter(@project.expected_audio_streams_year, :delimiter => ',')%></p>
            <p class="m-0" style="font-size:12px">audio streams</p>
          </div>
          <div class="text-center rounded p-3 ms-3 w-25" style="border:1px solid #f9bc0b">
            <p class="m-0 fw-bold" style="color:#f9bc0b"><%= number_with_delimiter(@project.expected_video_streams_year, :delimiter => ',')%></p>
            <p class="m-0" style="font-size:12px;">video streams</p>
          </div>
        </div>

        <p class="text-primary mt-3 border-bottom">Other information</p>
        <p>Release date: <%= @project.release_date.strftime("%B %d, %Y") %></p>
        <p>Distributor: <%= @project.distributor %></p>
      </div>
    </div>
  </div>
  <i class="fas fa-backward text-primary"></i> <%= link_to "Return to projects", projects_path, class: "text-decoration-none" %>
</div>
