
<div class="container text-center w-50">
  <div class="p-4 bg-white">
    <%= image_tag("sign-in.svg", width: "500") %>
    <h2>Sign in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs text-start">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    label: false,
                    placeholder: 'email' %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" },
                    label: false,
                    placeholder: 'password' %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
