<% current_user.projects.each do |project|  %>
<%# financial results card per project %>
  <div class ="dashboard-artist-project border d-flex justify-center">

    <h3 class="dashboard-artist-project-name text-left font-weight-bold text-dark" >
      <%= project.name %>
    </h3>

    <%# retrieving metrics %>
    <% token = Token.find_by(project_id: project.id) %>
    <% transactions = Transaction.where(token_id: Token.where(project_id: project.id)).count %>
    <% total_amount_invested = transactions * token.price %>
    <% total_amount_available = (project.number_of_tokens) * (token.price) %>

    <%# beg-higher part of the card %>
    <div class="dashboard-artist-project-high-part">

      <div class="dashboard-artist-project-high-part-left">
        <%# project photo %>
        <div class="photo-project-info-financial">
          <%= cl_image_tag project.photo.key, height: 200, width: 200, crop: :fill  %>
        </div>

        <div class="dashboard-artist-project-info">
          <p> Release date: <%= project.release_date %></p>
          <p> Distributor: <%= project.distributor %></p>
        </div>

      </div>

      <%# revenue chart %>
      <div class="revenue-graph">
        <%= column_chart project.revenues.group_by_month(:date).sum(:revenue), xtitle: "Month", ytitle: "Revenue", colors: ["#6768AB"], thousands: ",", width: "500px", height: "300px" %>
      </div>

    <%# end-higher part of the card %>
    </div>

    <%# beg-downest part of the card %>
    <div class="dashboard-artist-project-down-part">

      <div class="dashboard-artist-project-down-part-left">
        <%# revenue generated since beginning %>
        <div class="project-generated-revenue">
          <p>Revenue generated since beginning of the project:</p>
          <p><%= number_with_delimiter((project.project_revenue(project)), :delimiter => ',')%>$</p>
        </div>
      </div>

      <div class="dashboard-artist-project-down-part-right">

        <%# progress bar %>
        <div class="d-flex mt-3 mb-0 align-items-center text-dark">
          <p class="text-primary fw-bold fs-4 mb-0 me-2"><%= number_with_delimiter((total_amount_invested), :delimiter => ',') %>$</p>
          <p class="mb-0">invested on <%= number_with_delimiter((total_amount_available), :delimiter => ',')%> $ goal</p>
        </div>
        <div class="dashboard-progress mb-3">
          <div class="progress-bar" role="progressbar" style="width: <%= ((total_amount_invested.to_f / total_amount_available.to_f) * 100).round %>%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"><%= ((total_amount_invested.to_f / total_amount_available.to_f) * 100).round %>%</div>
        </div>
        <%# progress bar-end %>

        <%# tokens info %>
        <div class="artist-project-info-financial">
          <div class="text-center bg-secondary border border-secondary rounded p-2 w-25">
            <p class="m-0 text-white fw-bold fs-5"><%= number_with_delimiter(token.price, :delimiter => ',')%> $</p>
            <p class="m-0 text-white" style="font-size:12px">per token</p>
          </div>
          <div class="text-center border border-primary rounded p-2 ms-3 w-25">
            <p class="m-0 text-primary fw-bold fs-5"><%= project.number_of_tokens%></p>
            <p class="m-0" style="font-size:12px">tokens total</p>
          </div>
          <div class="text-center rounded p-2 ms-3 w-25" style="border:1px solid #f9bc0b">
            <p class="m-0 fw-bold fs-5" style="color:#f9bc0b"><%= transactions %></p>
            <p class="m-0" style="font-size:12px">tokens purchased</p>
          </div>
        </div>
        <%# tokens info-end %>
    </div>

    </div>

    <%# beg-downest part of the card %>
  </div>
<% end %>


<%# we only display projects created by the current_user
  <%# current_user.projects.each do |project| %>
    <%# if current_user.id == project.user_id %>
      <%#= link_to project.name, project_path(project) %>
    <%# else %>
    <%# <p> No projects yet ! </p> %>
    <%# end %>
  <%# end %>
<%# </div> %>
<%# <%= column_chart (Token.group(:project).sum(:unit_price)), stacked: true %>
<%# toc  %>
  <%#= column_chart (Revenue.group(:date).sum(:revenue)), stacked: true, colors: ["#6768AB"], thousands: ",", width: "800px", height: "500px" %>

<%# <% data = [
# [1,1],[2,3],[3,5],[4,8],[6,4],[7,2]
# ] %>

 <%# <%= line_chart data, colors: ["#b00", "#666"]%>
