<div class ="container">
  <% if current_user.tokens.empty? %>
    <p> No token yet ! </p>
    <%= link_to "Find investments 😉", projects_path, class:"btn btn-primary mb-5" %>
  <% else %>
    <!-- div with chart and other porfolio infos -->
    <div class="row align-items-center mb-2 align-items-start">
      <div class='col col-lg-7 py-3 px-3 bg-white'>
       <h5 class='mb-3 text-secondary'>Revenues per month per project</h5>

        <!-- drop down to select project -->
        <div data-controller="update-chart">
          <label for="project-select">Project:</label>
          <select id="project" data-action="change->update-chart#update">
            <% current_user.projects_as_investor.uniq.each do |p| %>
                <option value=<%= p.id %> data-chart-value=<%= current_user.revenues_as_investor.where(project_id: p.id).group_by_month(:date).sum('revenue * 0.001').to_a.to_json.html_safe%>><%= "#{User.find(p.user_id).artist_name} - #{p.name}" %></option>
            <% end %>
          </select>
        </div>

         <!-- chart -->
        <%= line_chart current_user.revenues_as_investor.where(project_id: current_user.projects_as_investor.first.id).group_by_month(:date, format: "%b %Y").sum('revenue * 0.001'), id: 'chart-projects-revenues', height: "250px", thousands: ",", colors: ["#262161"], suffix: ' $' %>
      </div>

      <div class='col col-lg-1'>
      </div>

      <!-- portfolio informations (tokens + amount invested) -->
      <div class='col col-lg-4'>
        <h5 class='mb-3 text-secondary'>Overview</h5>
        <div class='py-2 rounded p-3 bg-primary'>
          <p class='text-primary fs-4 mb-0 text-white'><%= current_user.number_of_token_user %></p>
          <p class='fs-6 my-0 text-white fw-light'>Tokens</p>
        </div>
        <div class='py-2 rounded p-3 bg-secondary my-3'>
          <p class='text-primary fs-4 mb-0 text-white'><%= number_with_delimiter(current_user.total_amount_invested_user , :delimiter => ',')%> $</p>
          <p class='fs-6 my-0 text-white fw-light'>Total amount invested</p>
        </div>
        <div class='py-2 rounded p-3' style='background-color:#f9bc0b'>
          <p class='fs-4 mb-0'><%= number_with_delimiter(current_user.revenues_as_investor.sum('revenue * 0.001').round(2), :delimiter => ',')%> $</p>
          <p class='fs-6 my-0 fw-light'>Total revenue</p>
        </div>
      </div>
    </div>

    <h5 class='text-secondary mt-5 mb-3'>My investments</h5>


    <%#= link_to "Create a playlist", :controller => :dashboards, :action => :create_playlist %>
    <%= link_to "Create a playlist", create_playlist_path, method: :post %>

    <%# <div class="create-a-playlist btn-primary"> Create a playlist </div> <%= link_to "Create a playlist" %>     %>


    <!-- list of projects -->
    <% @project_informations.each do |project_information| %>
      <div class="row align-items-center mb-2 bg-white py-1 rounded">
        <div class='col col-lg-1'>
          <%= cl_image_tag Project.find_by(name:project_information[:project_name]).photo.key, height: 100, width:100, crop: :fill, class: 'rounded' %>
        </div>
        <div class='col col-lg-2 ms-4'>
          <p class='mb-0 text-primary fw-bold'><%= link_to project_information[:project_name].upcase, project_path(Project.find_by(name:project_information[:project_name])), class:"text-decoration-none" %></p>
          <p class='mb-0 text-muted'>project name</p>
        </div>
        <div class='col col-lg-2'>
          <p class='mb-0 text-primary fw-bold'><%= User.find(Project.find_by(name:project_information[:project_name]).user_id).artist_name %></p>
          <p class='mb-0 text-muted'>artist</p>
        </div>
        <div class='col col-lg-3'>
          <p class='mb-0 text-primary fw-bold'><%= project_information[:transactions] %></p>
          <p class='mb-0 text-muted'>number of transactions</p>
        </div>
        <div class='col col-lg-3'>
          <p class='mb-0 text-primary fw-bold'><%= number_with_delimiter((Token.find_by(project_id: Project.find_by(name: project_information[:project_name])).price) * project_information[:transactions], :delimiter => ',') %>$</p>
          <p class='mb-0 text-muted'>amount invested</p>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="mb-5"></div>
</div>
