<div class="container-gys">
  <div>
    <h1 class="mt-5 text-primary">Welcome to your dashboard, <span class="banner-highlight-primary"><%=@user.first_name%></span>.</h1>
    <%# better to have partials so that several developers can work on the same page without conflicts %>
    <p>Your dashboard was last updated on <%= Time.current.to_formatted_s(:short)   %> </p>
    <%# user: is from the partial, it's linked with current urrent in dashboard controller, all thanks to devise %>
    <%# <%= render "info", user: @user %>
  </div>

  <div>
    <h5 class='text-primary mb-3'>My projects</h5>
      <%= render "project" %>
    <h5 class='text-primary '>My dashboard</h5>
      <%= render "token", user: @user %>
  </div>
</div>
