<div class="container-gys">
  <div>
    <h1 class="mt-5 text-primary">Welcome to your dashboard, <span class="banner-highlight-primary"><%=@user.first_name%></span>.</h1>
    <%# better to have partials so that several developers can work on the same page without conflicts %>
    <p>Your dashboard was last updated on <%= Time.current.to_formatted_s(:short)   %> </p>
    <%# user: is from the partial, it's linked with current urrent in dashboard controller, all thanks to devise %>
    <%# <%= render "info", user: @user %>
  </div>

  <nav>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">My projects</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">My dashboard</button>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <%= render 'project' %>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <%= render "token", user: @user %>
    </div>
  </div>
    <div class="height-100"></div>
</div>
