<!DOCTYPE html>
<html>
  <head>
    <title>GETYOSHARES | Invest on tomorrow's artists</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="icon" type="image/png" href="logo.png" />
    <%= favicon_link_tag %>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Shade&family=Days+One&family=Exo:wght@700&family=Russo+One&family=Wallpoet&display=swap');
    </style>
  </head>

  <body>
    <%= render 'shared/navbar-home', class: "site-header"%>

    <%= yield %>

    <%= render 'shared/flashes' %>

	  <%= render 'shared/footer', class: "site-footer"%>
  </body>
</html>

<%# Sidebar %>
<%#  <% if params[:action] == "home" %>
      <%# <%= render 'shared/navbar-home'
    <% else
      <div class="d-flex">
        <%= render 'shared/sidebar'
        <div class="flex-grow-1">
    <% end

    <% unless params[:action] == 'home'
        </div>
      </div>
    <% end %>
